<h1 class= "title nicefontTitle">Day {{day}}</h1>

<div class="content-container" *ngIf="dataFound && data" >
  <ng-container *ngFor="let el of data.contents[idData].data">
    <div *ngIf="el.type === 'video'" class="video-content">
      <iframe width="560" height="315"
        [src]="videoURL(el.content)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div *ngIf="el.type === 'audio'" class="video-content">
        <audio controls autoplay>
            <source [src]="el.content" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio> 
    </div>
    <ng-container *ngIf="el.type === 'text'">
      <p class="text-content nicefont">{{el.content}}</p>
    </ng-container>
      <div *ngIf="el.type === 'picture'" class="picture-content">
        <img [src]="el.content"/>
      </div>
  </ng-container>
</div>

