@font-face {
  font-family: raspberry;
  src: url("../assets/fonts/Raspberry.woff");
}

@font-face {
  font-family: raspberry-it;
  src: url("../assets/fonts/Raspberry\ Italic.woff");
}

@font-face {
  font-family: warmesty;
  src: url("../assets/fonts/Warmesty.ttf");
}

@font-face {
  font-family: wishingly;
  src: url("../assets/fonts/Wishingly.otf");
}

.nicefont {
  font-family: wishingly;
  font-size: 200%;
}

.nicefontTitle {
  font-family: warmesty;
  font-size: 200%;
}

body {
  background-color: #d5d4d3;
  // overflow-x: hidden; //for snow
}

